.pre_and_next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
  width: 80%;
  :global {
    .anticon {
      color: #999;
    }
    .anticon-right {
      margin-left: 10px;
    }
    .anticon-left {
      margin-right: 10px;
    }
  }
}
