.header_wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
    0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(8px);
  .menuRow {
    display: flex;
    align-items: center;
    margin: 0;
  }
  :global {
    .dumi-default-search-bar {
      display: inline-flex;
      align-items: center;
    }
  }
  .lib_title {
    font-size: 22px;
    font-weight: bold;
    color: #1677ff;
    cursor: pointer;
  }
}
